@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


/*************************************ESTILOS GERAIS*****************************************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img:focus  {
    outline: none !important;
}

body {
    color: #263138;
}

.paragrafo {
    line-height: 150%;
    font-size: 1.1em;
}

h1,
h2 {
    font-size: 32px;
    margin-bottom: 32px;
}

section p {
    margin: 0 15px;
}

p{
    text-align: justify;
}




html {
    scroll-behavior: smooth;
}

/*********************************************************************************************************************/
/*************************************HEADER - STYLES*****************************************************************/
header {
    background-color: #FF9A6C;
    padding: 24px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header > nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
}
/*********************************************************************************************************************/
/*************************************INICIO - STYLES*****************************************************************/
#inicio {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 50px;
    position: relative;
}

#inicio div {
    align-self: center;
}

#inicio .text__inicio {
    display: flex;
    flex-flow: column wrap;
}

.button__consult {
    background-color: #ee634a;
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    border-radius: 10px;
    padding: 15px 32px;
}

.button__transparent {
    text-decoration: none;
    color: #FF9A6C;
    font-weight: 600;
    transition: .2s;
}

.button__transparent:hover {
    background-color: #FF9A6C;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px 32px;
}

.btns__clinica {
    margin-top: 45px;   
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

/*********************************************************************************************************************/
/*************************************** CLINICA - STYLES ************************************************************/
#clinica {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

#clinica p {    
    max-width: 670px;
}

.img__clinica {
    margin: 0 auto;
}

#clinica ul {
    max-width: 600px;
    margin-top: 20px;
    font-size: 18px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
}

#clinica ul > li {
    padding: 5px;
}

/*********************************************************************************************************************/
/**************************** PETSHOP E FARMÃCIA - STYLES ************************************************************/
#farmacia {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.img__farmacia {
    max-width: 645px;
}

.img__farmacia img {
    max-width: 100%;
    max-height: 100%;
}

#farmacia  h1{
    text-align: center;
}

#farmacia div {
    margin: 0 auto;
}

#farmacia p {
    max-width: 940px;
    margin: 20px;

}

.container__text p {
    margin: 0 !important;
}
/*********************************************************************************************************************/
/**************************** FAQS - STYLES ************************************************************/
#duvidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px auto;
}

.cards__faqs {
    max-width: 620px;
    margin: 0 auto;
    align-self: baseline;
}

.img__faqs {
    max-width: 500px;
    margin: 0 auto;
}

.img__faqs img {
    max-width: 100%;
}

.cards  {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.sub__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #FF9A6C;
    border-radius: 10px;
    padding: 10px 15px;
}

.cards {
    display: flex;
    flex-direction: column;
}

.not__visible {
    display: none;
}

.true__visible {
    display: block;
    max-width: 100%;
    margin: 5px 3px;
    padding: 10px 20px;
    border: 1px solid #ee634a;
    border-radius: 0 0 10px 10px;
    border-top: none;
    border-right: 100%;
    text-align: justify;
    animation: animation .3s linear;
}

.arrow {
    padding: 15px;
    border-radius: 10px;
    transition: .3s;
}

.arrow__reverse {
    transform: rotate(180deg);
}

.arrow:hover {
    cursor: pointer;
}
/************************************************************************************************************************/
/**************************** FOOTER - STYLES ************************************************************/
footer {
    background: #ffb9c55b;
}

nav a, .contato a{
    text-decoration: none;
    color: #000;
}

#container__footer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 155px;
    padding: 60px 0;
}

#container__footer nav {
    margin-top: 20px;
}

#container__footer nav ul  {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container__footer .contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container__footer .text__footer p{
    margin-top: 30px;
}

.dev__for p{
    text-align: center;
    padding: 20px;
    background-color: #3a3a3a;
    color: #FFF;
}

.dev__for a {
    text-decoration: none;
    color: #FFF;
}
/************************************************************************************************************************/
/*******************************************RESPONSIVIDADE***************************************************************/

@media(max-width: 930px) {

    h1, 
    h2 {
        text-align: center;
        font-size: 1.7em;
        margin-left: 10px;
        margin-right: 10px;
    }

     img {
        max-width: 100px;
        max-width: 100%;
    }

    header > nav ul {
        margin-top: 15px;
        gap: 20px;
    }

    header nav {
        margin: 20px 24px 0;
    }

    header {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    #inicio {
        flex-flow: column-reverse wrap;
        margin-top: 20px;
    }

    #title__inicio {
        font-size: 1.2em !important;
    }

    .text__inicio {
        flex-direction: column;
    }

    .btns__clinica {
        flex-direction: column;
    }

    .sub__cards {
        margin: 10PX;
        font-size: 15px;
    }

    .container__text ul {
        padding-left: 36px;
    }

    .container__text p {
        margin: 0 15px !important;
        text-align: justify;
    }

    .true__visible {
        margin: 5px 15px;
    }

    #container__footer {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        justify-content: center;
        margin-left: 20px;
    }

    #container__footer 
    .text__footer {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .container__nav__footer h3 ,
    .contato h3{
        margin-top: 50px;
    }

    #container__footer 
    .text__footer p {
        margin-top: 10px;
    }
}